<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gseyf.pensieveskeleton">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".PatientMainActivity" />
        <activity android:name=".PatientAddNoteActivity"/>
        <activity android:name=".FamilyMemberMainActivity" />
        <activity android:name=".FamilyMemberAddTaskActivity" />
        <activity android:name=".FamilyMemberAddTaskTimePickerActivity" />
        <activity android:name=".FamilyMemberGraphDayActivity" />
        <activity android:name=".FamilyMemberGraphDayMenuOpenActivity" />
        <activity android:name=".FamilyMemberGraphWeekActivity"/>

        <activity android:name=".Login" />
        <activity android:name=".LoginOrCreateAccount" />
        <activity android:name=".FamilyMemberCreateAccount" />
        <activity android:name=".PatientCreateAccount" />

        <activity android:name=".SettingsExpanded"/>
        <activity android:name=".Settings"/>
        <activity android:name=".OverviewGraph"/>




        <service android:name=".PhoneToWatchService" />
        <!-- Listeners are special services that need to be declared like below, as BIND_LISTENER -->
        <service android:name=".PhoneListenerService"
                 android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

    </application>

</manifest>